*.obj
*.pdb
*.user
.ncb
*.suo
*.[Cc]ache
*.log
*.vspscc
*.scc
*.zip
*.tmp
*.docstates
[Pp]ublish.xml
[Dd]ebug*/
[Bb]in
obj/
[Rr]elease*/
_Re[Ss]harper*/
_bin_deployableAssemblies/
[Aa]pp_[Dd]ata/
packages/
TestResults/
deploy/
*.orig
*.db
